#messageCentre {
  display: flex;
  flex-direction: row;
  font-size: 12pt;
  height: calc(100vh - 175px);
}

#messageCentre ul {
  list-style: none;
}

.contactTools > div {
  margin-bottom: 15px;
}

.contactPane {
  width: 30%;
  margin-right: 20px;
}

.contactPane ul {
  height: 90%;
  overflow: auto;
}

.contactPane li {
  padding: 15px 5px;
  border-bottom: 1px solid #eee;
}

.contactPane li.selected {
  padding: 15px 5px;
  border-bottom: 1px solid #eee;
  background-color: #f5f5f5;
}

.contactName {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.yourTurn {
  background-color: purple;
  color: white;
  font-weight: normal;
  font-size: 9pt;
  padding: 2px 5px;
}

.contactNumber {
  font-size: 11pt;
}

.contactLastMessage {
  font-size: 11pt;
}

.messagePane {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messagePane ul {
  height: 90%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.messagePane .them {
  display: flex;
  justify-content: flex-start;
}

.messagePane .me {
  display: flex;
  justify-content: flex-end;
}

.messagePane .them .message {
  background-color: #ffda5a;
}

.messagePane .me .message {
  background-color: #9ae1ff;
}

.messagePane .message {
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
  margin-bottom: 25px;
}

.messagePane .date {
  display: flex;
  justify-content: center;
}

.messagePane .date .dateText {
  background-color: bisque;
  padding: 2px;
  border-radius: 5px;
  margin: 20px 0;
  text-align: center;
  width: 100px;
}

.messagePane .messageEntry {
  width: 100%;
}
