.messageEntry {
  width: 100%;
}

.messageEntry .entry {
  grid-area: entry;
  position: relative;
}

.messageEntry .entry textarea {
  min-height: 100px;
  max-height: 250px;
  resize: none;
}

.messageEntry .entry .username {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: grey;
}

.messageEntry .button {
  grid-area: button;
}

.messageEntry button {
  width: 100px;
  margin-left: 10px;
}

.messageEntry {
  display: grid;
  grid-template-columns: auto 110px;
  grid-template-areas: 'entry button';
}
